<table class="table align-middle">
  <tr>
    <td class="w-50">依頼者名</td>
    <td class="w-50"><%= commition.name %></td>
  </tr>
  <tr>
    <td>Twitter</td>
    <td>
      <%= link_to "https://twitter.com/" + commition.twitter, class: "btn btn-link text-decoration-none p-0" do %>
        <%= commition.twitter %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>早期納品</td>
    <td>
      <%= commition.early_submit ? "あり" : "なし" %>
    </td>
  </tr>
  <tr>
    <td>サンプル使用</td>
    <td>
      <%= commition.use_sample ? "可能" : "不可" %>
    </td>
  </tr>
  <tr>
    <td>入金確認</td>
    <td>
      <%= commition.paid.blank? ? "未確認" : commition.paid.strftime("%m/%d") %>
    </td>
  </tr>
  <tr>
    <td>詳細リンク</td>
    <td>
      <% if commition.document_link.blank? %>
        未確認
      <% else %>
        <%= link_to "リンク", commition.document_link, class: "btn btn-link text-decoration-none p-0"%>
      <% end %>
    </td>
  </tr>
</table>